body {
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
}



h1 {
    text-align: center; /* Center horizontally */
    padding-top: 45px; /* Adjust the padding as needed */
}

h2.text-center {
    font-size: 35px; /* Adjust the font size as needed */
    font-weight: normal;
}

.container {
    max-width: 500px;
    position: fixed;
    left: 80px; /* Distance from the left edge */
    top: 160px; /* Distance from the top edge */
    bottom: 500px; /* Distance from the bottom edge */
}


.custom-btn2 {
    position: fixed;
    left: 560px; /* Distance from the right edge */
    top: 570px; /* Distance from the top edge */
    padding: 20px 80px; /* Adjust padding as needed */
    background-color: beige; /* Background color for the button */
    color: black; /* Text color for the button */
    border: none; /* Remove border */
    font-size: 24px;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

/* Style for shadow effect on circular buttons */
.custom-btn:active{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Add shadow on button click */
    border-radius: 50%; /* Make the shadow circular */
}

.custom-btn2:active {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Add shadow on button click */
}

.gcode{
    position: fixed;
    left: 1050px; /* Distance from the left edge */
    top: 90px; /* Distance from the top edge */
    bottom: 500px; /* Distance from the bottom edge */ 
}

.gcode textarea{
    width: 400px; /* Set the width of the textarea */
    height: 340px; /* Set the height of the textarea */
    border-radius: 5px; /* Optional: Add border radius */
    border: 1px solid #ccc; /* Optional: Add border */
    resize: none; /* Optional: Disable textarea resizing */
}

.saveBtn{
    margin-top: 7px; /* Adjust the margin-top value as needed */
    height: 3em;
    width: 5em;
    border-radius: 0.5em;
    border: none;
    color: white;
    background-color: #dc3545;
    position: fixed;
    left: 1220px; /* Distance from the left edge */
    top: 500px; /* Distance from the top edge */
    bottom: 400px; /* Distance from the bottom edge */ 
}

.saveBtn:active {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); /* Add shadow on button click */
}

.title {
    text-align: center;
}

textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.start-btn {
    height: 3em;
    width: 3em;
    border-radius: 3em;
    border: none;
    color: white;
    background-color: #dc3545;
}

.btn-danger.stopped {
    background-color: #dc3545;
    color: #fff;
}

.form-group.text-center {
    padding-top: 10px; /* Adjust the padding-top value as needed */
}

.custom-btn {
    position: fixed;
    left: 670px; /* Distance from the right edge */
    top: 215px; /* Distance from the top edge */
    padding: 20px 30px; /* Adjust padding as needed */
    border-radius: 50%; /* Make the button circular */
    background-color: darkgrey; /* Background color for the button */
    color: black; /* Text color for the button */
    border: none; /* Remove border */
    font-size: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .custom-btn:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .custom-btn:hover {
    background-color: #2c974b;
  }
  
  .custom-btn:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .custom-btn:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .custom-btn:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
  
#save-btn {
    position: absolute;
    margin-top: 10px;
    left:180px;
    background-color: #dc3545;
    height: 3.5em;
    width: 3.5em;
    text-align: center; /* Center text horizontally */
    border: none;
    color: white;
}

/* Hover effect for the "Save" button */
#save-btn:hover {
    background-color: #c82333; /* Darker red color on hover */
}